<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      defer
      src="{{ url_for('static', filename='js/script.js') }}"
    ></script>
    <title>Ally - Making the web more readable</title>
  </head>
  <body>
    <main>
      <h1>Ally</h1>
      <p class="description">Making the web more readable</p>
      <form id="form">
        <input
          type="text"
          id="input"
          name="input"
          placeholder="Enter the website URL here"
          required
        />
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
